#fond_dark{
    background-image: none;
    background-color: #25262A;
    box-shadow:none;
    border-style:none;
    padding: 10px;
}



#fond_panneau{
    background-image: none;
    box-shadow:none;
    border-style:none;
    background: #292929;
    padding: 0px;
    
}

#fond_menu{
    background-image: none;
    background: #292929;
    padding: 0px;
}

#expander-tabbed{
    padding: 5px;
    margin-left:38px;
    margin-bottom:4px;
}

#label_menu_dark_mode{
    background-color: #6C6D6C;
    color: #DFDFDF;
    font-family: DejaVu Sans;
    font-weight: lighter;
    font-size: 18px;
    background-image: none;
    border:0px;
    border-radius:0;
    box-shadow:none;
    border-style:none;
    text-shadow: none;
    padding:2px 0 2px 0;
}


#button_dark_mode{
    background-color: #434343;
    color: #DFDFDF;
    font-family: DejaVu Sans;
    font-weight: lighter;
    font-size: 18px;
    background-image: none;
    border:0px;
    border-radius:0;
    box-shadow:none;
    border-style:none;
    text-shadow: none;
    padding:2px 0 2px 0;
}

#button_dark_mode_erreur{
    background-color: #434343;
    color: #D85757;
    font-family: DejaVu Sans;
    font-weight: lighter;
    font-size: 18px;
    background-image: none;
    border:0px;
    border-radius:0;
    box-shadow:none;
    border-style:none;
    text-shadow: none;
    padding:2px 0 2px 0;
}



#tree_dark_mode{
    background-color: #434343;
    color: #DFDFDF;
    font-family: DejaVu Sans;
    font-weight: lighter;
    font-size: 12px;
    background-image: none;
    border:0px;
    border-radius:0;
    box-shadow:none;
    border-style:none;
    text-shadow: none;
    padding:2px 0 2px 0;
}

#button_dark_mode_status_1{
    background-color: #739ECC;
    color: #DFDFDF;
    font-family: DejaVu Sans;
    font-weight: lighter;
    font-size: 18px;
    background-image: none;
    border:0px;
    border-radius:0;
    box-shadow:none;
    border-style:none;
    text-shadow: none;
    padding:2px 0 2px 0;
}

#button_dark_mode:active{
    background-color: #3593F7;
    color: #DFDFDF;
}

#button_dark_mode_erreur:active{
    background-color: #3593F7;
    color: #D85757;
}



#button_dark_mode_erreur:hover{
    background-color: #D06868;
    color: #DFDFDF;
}

#button_dark_mode:hover{
    background-color: #3593F7;
    color: #DFDFDF;
}

#button_dark_mode_status_1:hover{
    background-color: #3593F7;
    color: #DFDFDF;
}

#scroll_bar_perso{
    background-image: none;
    color:  #434343;
    background-color: #434343;
    opacity: 1;
    box-shadow: none;
}

