


#fond_dark{
    border:0px;
    border-radius:0;
    background-image: none;
    background-color: #25262A;
    box-shadow:none;
    border-style:none;
}



#fond_panneau{
    background-image: none;
    box-shadow:none;
    border-style:none;
    background-color: #292929;
    
}

#fond_menu{
    background-image: none;
    background: #2E2E2E;
    border:#2E2E2E;
    border-radius:0;
    box-shadow:none;
    border-style:none;
    text-shadow: none;
    
    
    
}

#fond_menu:hover{
    background-image: none;
    background-color: #2E2E2E;
    color: #2E2E2E;
    background: #2E2E2E;
    border:#2E2E2E;
    border-radius:0;
    box-shadow:none;
    border-style:none;
    text-shadow: none;
    
    
}


#button_dark_mode{
    background-color: #434343;
    color: #DFDFDF;
    font-family: DejaVu Sans;
    font-weight: lighter;
    font-size: 18px;
    background-image: none;
    border:0px;
    border-radius:0;
    box-shadow:none;
    border-style:none;
    text-shadow: none;
    padding:2px 0 2px 0;
}

#button_dark_mode:active{
    background-color: #3593F7;
    color: #DFDFDF;
    box-shadow: none;
    font-family: DejaVu Sans;
    font-weight: lighter;
    
}

#button_dark_mode:hover{
    background-color: #3593F7;
    color: #DFDFDF;
    box-shadow: none;
    text-shadow: none;
}

#button_dark_mode:link{
    background-color: #3593F7;
    color: #DFDFDF;
    box-shadow: none;
    text-shadow: none;
}

#button_dark_mode:visited{
    background-color: #3593F7;
    color: #DFDFDF;
    text-shadow: none;
    box-shadow: none;
}

#scroll_bar_perso{
    background-image: none;
    color:  #434343;
    background-color: #434343;
    opacity: 1;
    box-shadow: none;
}

